.agent/tools/n8n-mcp-client/update_workflow_payload.json
{
    "name": "Flux Leads 2",
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate",
        "availableInMCP": false
    },
    "nodes": [
        {
            "id": "b98ecfa4-3745-4b80-a441-02cda07323d8",
            "name": "Webhook (Flux Leads)",
            "parameters": {
                "httpMethod": "POST",
                "options": {},
                "path": "flux-leads-notification"
            },
            "position": [
                -656,
                240
            ],
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "webhookId": "9a6b0858-aafe-4e60-8bc6-a2a743f6c902"
        },
        {
            "id": "c02a2e71-4a4c-431f-a39a-66ac8ea57295",
            "name": "Tipo de Evento?",
            "parameters": {
                "dataType": "string",
                "rules": {
                    "rules": [
                        {
                            "value2": "chat.new_message"
                        },
                        {
                            "output": 1,
                            "value2": "deal.stage_changed"
                        }
                    ]
                },
                "value1": "={{ $json.body.event }}"
            },
            "position": [
                -432,
                208
            ],
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1
        },
        {
            "id": "00fa692e-cd2f-4d22-a9d0-d1d404a8bbc3",
            "name": "É Encaminhamento?",
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "operation": "isNotEmpty",
                            "value1": "={{ $json.body.data.forward_message_external_id }}"
                        }
                    ]
                }
            },
            "position": [
                -224,
                -16
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "id": "f4826972-c12b-4173-9d92-e1070c053c74",
            "name": "Encaminhar Mensagem",
            "parameters": {
                "method": "POST",
                "url": "https://fluxcomunicacao.uazapi.com/send/text",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "token",
                            "value": "6fa2a4ce-1e62-4458-97cb-01ad8c7a04a1"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.body.data.contact.phone }}"
                        },
                        {
                            "name": "key",
                            "value": "={{ { id: $json.body.data.forward_message_external_id } }}"
                        },
                        {
                            "name": "contextInfo",
                            "value": "={{ { isForwarded: true } }}"
                        }
                    ]
                },
                "options": {}
            },
            "position": [
                144,
                -144
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1
        },
        {
            "id": "d9b5a1d6-26b2-4989-bb14-bac88ef7d86d",
            "name": "Tipo de Mensagem?",
            "parameters": {
                "dataType": "string",
                "fallbackOutput": 0,
                "rules": {
                    "rules": [
                        {
                            "output": 1,
                            "value2": "audio"
                        },
                        {
                            "output": 2,
                            "value2": "image"
                        },
                        {
                            "output": 2,
                            "value2": "document"
                        },
                        {
                            "output": 2,
                            "value2": "video"
                        }
                    ]
                },
                "value1": "={{ $json.body.data.message_type }}"
            },
            "position": [
                -160,
                208
            ],
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1
        },
        {
            "id": "5129bd3e-9917-40f0-8d21-bfcd37ef1cf3",
            "name": "Enviar Texto",
            "parameters": {
                "method": "POST",
                "url": "https://fluxcomunicacao.uazapi.com/send/text",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "token",
                            "value": "6fa2a4ce-1e62-4458-97cb-01ad8c7a04a1"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.body.data.contact.phone }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json.body.data.content }}"
                        },
                        {
                            "name": "mentions",
                            "value": "={{ $json.body.data.mentions }}"
                        },
                        {
                            "name": "quoted",
                            "value": "={{ $json.body.data.reply_to_message_id ? { key: { id: $json.body.data.reply_to_message_external_id } } : undefined }}"
                        }
                    ]
                },
                "options": {}
            },
            "position": [
                144,
                48
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1
        },
        {
            "id": "3001e23b-8a2c-4ec7-938e-94b926a36ea8",
            "name": "Enviar Audio (PTT)",
            "parameters": {
                "method": "POST",
                "url": "https://fluxcomunicacao.uazapi.com/send/audio",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "token",
                            "value": "6fa2a4ce-1e62-4458-97cb-01ad8c7a04a1"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.body.data.contact.phone }}"
                        },
                        {
                            "name": "audio",
                            "value": "={{ $json.body.data.media_url }}"
                        },
                        {
                            "name": "quoted",
                            "value": "={{ $json.body.data.reply_to_message_id ? { key: { id: $json.body.data.reply_to_message_external_id } } : undefined }}"
                        }
                    ]
                },
                "options": {}
            },
            "position": [
                144,
                208
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1
        },
        {
            "id": "11756ea4-b439-4f00-aeab-c7b32b2860f4",
            "name": "Enviar Mídia (Geral)",
            "parameters": {
                "method": "POST",
                "url": "https://fluxcomunicacao.uazapi.com/send/media",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "token",
                            "value": "6fa2a4ce-1e62-4458-97cb-01ad8c7a04a1"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.body.data.contact.phone }}"
                        },
                        {
                            "name": "media",
                            "value": "={{ $json.body.data.media_url }}"
                        },
                        {
                            "name": "mediatype",
                            "value": "={{ $json.body.data.message_type }}"
                        },
                        {
                            "name": "caption",
                            "value": "={{ $json.body.data.content }}"
                        },
                        {
                            "name": "quoted",
                            "value": "={{ $json.body.data.reply_to_message_id ? { key: { id: $json.body.data.reply_to_message_external_id } } : undefined }}"
                        },
                        {
                            "name": "fileName",
                            "value": "={{ $json.body.data.fileName }}"
                        },
                        {
                            "name": "mimetype",
                            "value": "={{ $json.body.data.mimetype }}"
                        }
                    ]
                },
                "options": {}
            },
            "position": [
                144,
                368
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1
        },
        {
            "id": "aeeae5f1-65b5-42a5-a13f-2041526cb81c",
            "name": "Filtra Etapa 'Agendado'",
            "parameters": {
                "conditions": {
                    "string": [
                        {
                            "operation": "contains",
                            "value1": "={{ $json.body.data.to_stage.name }}",
                            "value2": "Agendado"
                        }
                    ]
                }
            },
            "position": [
                -160,
                512
            ],
            "type": "n8n-nodes-base.if",
            "typeVersion": 1
        },
        {
            "id": "a735b82f-11ee-439b-a96e-84366a117b1f",
            "name": "Enviar Follow-up",
            "parameters": {
                "method": "POST",
                "url": "https://fluxcomunicacao.uazapi.com/send/text",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "token",
                            "value": "6fa2a4ce-1e62-4458-97cb-01ad8c7a04a1"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json.body.data.contact.phone }}"
                        },
                        {
                            "name": "text",
                            "value": "Olá {{ $json.body.data.contact.name }}, seu pedido mudou para: {{ $json.body.data.to_stage.name }}!"
                        }
                    ]
                },
                "options": {}
            },
            "position": [
                144,
                512
            ],
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1
        }
    ],
    "connections": {
        "Webhook (Flux Leads)": {
            "main": [
                [
                    {
                        "node": "Tipo de Evento?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo de Evento?": {
            "main": [
                [
                    {
                        "node": "É Encaminhamento?",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Filtra Etapa 'Agendado'",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "É Encaminhamento?": {
            "main": [
                [
                    {
                        "node": "Encaminhar Mensagem",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Tipo de Mensagem?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Tipo de Mensagem?": {
            "main": [
                [
                    {
                        "node": "Enviar Texto",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Audio (PTT)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Enviar Mídia (Geral)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Filtra Etapa 'Agendado'": {
            "main": [
                [
                    {
                        "node": "Enviar Follow-up",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}